<!-- Appointment -->
<!-- Mobile -->
<section id="profile" class="nospace nocomputer">
    <div class="block column ">
        <h1 class="noup">{{ "Les meves dades" | t }}</h1><br>
        <p style="margin-top: 2em;">{{ "Si observes algun error a les teves dades, truca'ns al" | t }} <b>938 000 000</b> {{ "i el corregirem." | t }}</p>
    </div>
</section>
<!-- Mobile -->

<!-- Computer -->
<section id="profile" class="nospace nomobile">
    <div class="block column full">
        <h1 class="noup">{{ "Les meves dades" | t }}</h1><br>
        <p style="margin-top: 2em;">{{ "Si observes algun error a les teves dades, truca'ns al" | t }} <b>938 000 000</b> {{ "i el corregirem." | t }}</p>
    </div>
</section>
<!-- Computer -->

<!-- Computer -->
<section style="margin-top:3em;" id="profile-fields" class="nospace nomobile">
    <div class="block space-between p-3 full" style="background-color:#f8f9f6;">
        <div class="block column quarter">
          <div>
            <label>{{ "CREÏDOR" | t }}</label><br><br>
            <input type="text" value="8000092965" disabled><br><br><br>
          </div>

          <div>
            <label>{{ "CIF EMPRESA" | t }}</label><br><br>
            <input type="text" value="F00000000" disabled><br><br><br>
          </div>

          <div>
            <label>{{ "TELÈFON" | t }}</label><br><br>
            <input type="text" value="973 330 215" disabled>
          </div>
        </div>

        <div class="block right-fields-profile column space-between full">
          <div>
            <label>{{ "NOM DEL PROVEÏDOR" | t }}</label><br><br>
            <input type="text" value="AGRARIA DE SANT MARTÍ DE MALDA S.C.P." disabled>
          </div>  

          <div>
            <label>{{ "CORREU ELECTRÒNIC" | t }}</label><br><br>
            <input class="noupper" type="text" value="agraria.sm@hotmail.com" disabled>
          </div>
        </div>
    </div>
</section>
<!-- Computer -->

<!-- Mobile -->
<section style="margin-top:3em;" id="profile-fields" class="nospace nocomputer">
    <div class="block full space-between p-3" style="background-color:#f8f9f6;">
        <div class="block column">
          <div>
            <label>{{ "CREÏDOR" | t }}</label><br><br>
            <input type="text" value="8000092965" disabled><br><br><br>
          </div>

          <div>
            <label>{{ "CIF EMPRESA" | t }}</label><br><br>
            <input type="text" value="F00000000" disabled><br><br><br>
          </div>

          <div>
            <label>{{ "TELÈFON" | t }}</label><br><br>
            <input type="text" value="973 330 215" disabled>
          </div>
        </div>

        <div class="block right-fields-profile column space-between" style="margin-top:2em;">
          <div>
            <label>{{ "NOM DEL PROVEÏDOR" | t }}</label><br><br>
            <input type="text" value="AGRARIA DE SANT MARTÍ DE MALDA S.C.P." disabled>
          </div>  

          <div style="margin-top:2em;">
            <label>{{ "CORREU ELECTRÒNIC" | t }}</label><br><br>
            <input class="noupper" type="text" value="agraria.sm@hotmail.com" disabled>
          </div>
        </div>
    </div>
</section>
<!-- Mobile -->