<div class="sv-header-block">
<section class="nospace">
    <div class="block topbar full right">
        <ul>
            <li class="nomobile">{{ "Et cal ajut?" | t }} {{ 'Truca al' | t }} <b style="text-shadow: 0 0 black;">938 917 070</b></li>
            <li class="dropdown">
                <span>{{ "Idioma " | t }}<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M6 9l6 6l6 -6" />
                    </svg></span>
                <div class="dropdown-content">
                        <a href="#" onclick="changeLanguage('ca')"><em class="icon-crest drop"></em> Català</a>
                        <a href="#" onclick="changeLanguage('es')"><em class="icon-crest drop"></em> Castellano</a>
                    </div>
                </li>
        </ul>
    </div>
</section>
<section class="header nospace">
    <div class="block full space-between mrow">
        <div class="logo">
            <a href="{{ "/ca/inicio" | t }}"><img src="{{ file_url('modules/nateevo/segura_viudas_blocks/images/logo_SV.png') }}"></a>
        </div>
        <div>
            <a class="main-link" href="{{ '/ca/inici#log-in' | t }}">{{ "Iniciar sessió" | t }}</a>
        </div>
    </div>
</section>
</div>

<script>
function changeLanguage(lang) {
  const currentUrl = new URL(window.location.href);
  const pathnameParts = currentUrl.pathname.split('/').filter(part => part);

  if (pathnameParts.length === 0) {
    // Si no hay ruta después del dominio, redirige a la ruta del idioma seleccionado
    window.location.href = currentUrl.origin + '/' + lang;
    return;
  }

  if (pathnameParts[0] === 'es' || pathnameParts[0] === 'ca') {
    // Si la primera parte de la ruta es un código de idioma, cámbialo
    pathnameParts[0] = lang;
  } else {
    // Si la primera parte de la ruta no es un código de idioma, añade el idioma seleccionado
    pathnameParts.unshift(lang);
  }

  const newUrl = currentUrl.origin + '/' + pathnameParts.join('/');
  window.location.href = newUrl;
}

</script>