<!-- Login -->
<section id="change-password" style="background-image: url(/themes/segura-viudas/Segura-Viudas-Theme/images/login-bg.svg); background-position: center left; background-size: contain; background-repeat: no-repeat;}" class="nobgmobile">
    <div class="block full row mcolumn space-between">
        <div class="block row">
        <div style="width: 15%; transform: translateY(300px);" class="block full column nomobile">
    <img src="{{ file_url('modules/nateevo/segura_viudas_blocks/images/login-decoration.svg') }}" width="20px">
    </div>
    <div class="block full column formlogin">
        <h1 class="noup" style="margin-bottom: 1em;">{{ "NOVA CONTRASENYA" | t }}</h1>
        <p>{{ "Crea una contrasenya nova que només coneguis tu. Un cop creada, serà la teva nova clau d'accés." | t }}</p><br>
        {{ change_password_form }}
    </div>
        </div>
        <div style="margin:0em 0em 0em 0em;" class="block column top center middle recomendations-psw">
            <div class="inner">
                <span>{{ "RECOMENACIONS" | t }}</span>
                <h2 class="noup">{{ "Crear una clau segura" | t }}</h2>
                <ul>
                    <li><p>{{ "Ha de tenir com a mínim 8 caràcters." | t }}</p></li>
                    <li><p>{{ "Lletra majúscula." | t }}</p></li>
                    <li><p>{{ "Una minúscula." | t }}</p></li>
                    <li><p>{{ "Un número" | t }}</p></li>
                    <li><p>{{ "Un caràcter especial (+, -@ etc)" | t }}</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Login -->

<script>
    function togglePassword(inputId, toggleId) {
        const input = document.getElementById(inputId);
        const toggle = document.getElementById(toggleId);
        const type = input.getAttribute('type');

        if (type === 'password') {
            input.setAttribute('type', 'text');
            toggle.style.opacity = '1';
        } else {
            input.setAttribute('type', 'password');
            toggle.style.opacity = '0.5';
        }
    }
</script>