<div class="sv-header-block">
<section class="nospace">
    <div class="block topbar full right">
        <ul>
            <li>{{ "Et cal ajut?" | t }} {{ 'Truca al' | t }} 938 000 000"</li>
            <li>{{ "Idioma" | t }}</li>
        </ul>
    </div>
</section>
<section style="padding:1em 0em;margin-bottom:5em;" class="header nospace">
    <div class="block full space-between mrow">
        <div class="logo">
            <img src="{{ base_path ~ module_path }}/images/logo_SV.png">
        </div>
        <div>
            <a href="#log-in">{{ "Iniciar sessió" | t }}</a>
        </div>
    </div>
</section>
</div>
