<!-- Help -->
<!-- Computer -->
<section class="nomobile" id="help-h">

    <div class="block column full">
        <h1>{{ "ET CAL AJUT?" | t }}</h1>
        <p class="sign">{{ "Posa't en contacte amb nosaltres si ets proveïdor" | t }}</p>
    </div>
</section>
<section id="help" class="nomobile">
    <div class="block nocomputer">
        <img src="/modules/nateevo/segura_viudas_blocks/images/Help.png" width="100%">
    </div>
    <div class="block help-container full right">
        <div class="block block-help column rgap-1">
            <p>{{ "Si ets proveïdor de Segura Vídues i necessites ajuda truca al" | t }}</p>
            <p class="sbp"><a href="tel:+34938917070"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="40" height="40" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" style="transform: translateY(0.1em);" fill="#393939" stroke="#f0eee7" stroke-width="1.5px">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"></path>
            </svg><b>938 917 070</b></a></p>
            <p>{{ "O escriu un correu electrònic a" | t }}</p>
            <a class="colorlink ba" href="mailto:viticultura@freixenet.com"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail-filled" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#718457" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z" stroke-width="0" fill="currentColor" />
            <path d="M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z" stroke-width="0" fill="currentColor" />
            </svg><b>viticultura@freixenet.com</b></a>
        </div>
    </div>
</section>
<!-- Computer -->

<!-- Mobile -->
<section id="help-h" style="margin-top:2em;" class="nocomputer">

<div class="block column">
        <h1>{{ "ET CAL AJUT?" | t }}</h1>
        <p style="margin-bottom:2em;" class="sign">{{ "Posa't en contacte amb nosaltres si ets proveïdor" | t }}</p>
    </div>
</section>
<section id="help" class="nocomputer">
    <div class="block nocomputer" style="margin: 0em">
        <img src="/modules/nateevo/segura_viudas_blocks/images/Help.png" width="100%">
    </div>
    <div class="block help-container full right">
        <div class="block block-help column rgap-1" style="padding:3em;">
            <p>{{ "Si ets proveïdor de Segura Vídues i necessites ajuda truca al" | t }}</p>
            <p class="sbp"><a href="tel:+34938917070"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="24" height="24" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" style="transform: translateY(0.1em);" fill="#393939" stroke="#f0eee7" stroke-width="1.5px">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"></path>
            </svg><b>938 917 070</b></a></p>
            <p>{{ "O escriu un correu electrònic a" | t }}</p>
            <a class="colorlink ba" href="mailto:viticultura@freixenet.com"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail-filled" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#718457" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z" stroke-width="0" fill="currentColor" />
            <path d="M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z" stroke-width="0" fill="currentColor" />
            </svg><b>viticultura@freixenet.com</b></a>
        </div>
    </div>
</section>
<!-- Mobile -->
<!-- Help -->
