<!-- Login -->
{% if messages %}
  <div class="messages">
    {{ messages }}
  </div>
{% endif %}
<section id="change-password" class="nobgmobile">
    <div class="block full row mcolumn space-between">
        <div class="block row">
    <div class="block full column formlogin">
        <h2 class="noup" style="margin-bottom: 1em;">{{ "Canviar contrasenya" | t }}</h2>
        <p>{{ "Crea una contrasenya nova que només coneguis tu. Un cop creada, serà la teva nova clau d'accés." | t }}</p><br>

            {{ change_password_form }}

    </div>
        </div>
        <div style="margin:0em 0em 0em 0em;" class="block column top center middle recomendations-psw">
            <div class="inner">
                <span>{{ "RECOMENACIONS" | t }}</span>
                <h2 class="noup">{{ "Crear una clau segura" | t }}</h2>
                <ul>
                    <li><p>{{ "Ha de tenir com a mínim 8 caràcters." | t }}</p></li>
                    <li><p>{{ "Lletra majúscula." | t }}</p></li>
                    <li><p>{{ "Una minúscula." | t }}</p></li>
                    <li><p>{{ "Un número" | t }}</p></li>
                    <li><p>{{ "Un caràcter especial (+, -@ etc)" | t }}</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Login -->
