<!-- Login -->
<section id="change-password" class="nobgmobile">
    <div class="block full row mcolumn space-between">
        <div class="block row">
    <div class="block full column formlogin">
        <h2 class="noup" style="margin-bottom: 1em;">{{ "Canviar contrasenya" | t }}</h2>
        <p>{{ "Crea una contrasenya nova que només coneguis tu. Un cop creada, serà la teva nova clau d'accés." | t }}</p><br>

            {{ change_password_form }}
            
    </div>
        </div>
        <div style="margin:0em 0em 0em 0em;" class="block column top center middle recomendations-psw">
            <div class="inner">
                <span>{{ "RECOMENACIONS" | t }}</span>
                <h2 class="noup">{{ "Crear una clau segura" | t }}</h2>
                <ul>
                    <li><p>{{ "Ha de tenir com a mínim 12 caràcters." | t }}</p></li>
                    <li><p>{{ "Lletra majúscula." | t }}</p></li>
                    <li><p>{{ "Una minúscula." | t }}</p></li>
                    <li><p>{{ "Un número" | t }}</p></li>
                    <li><p>{{ "Un caràcter especial (+, -@ etc)" | t }}</p></li>
                </ul>
            </div>
        </div>
    </div>
    
    {% if form_state == true %}
    <div id="create-popup" class="overlay block middle center">
        <div class="popup" id="popup">
        <h2 class="noup">{{ "Ja tens una nova contrasenya d'accés." | t }}</h2><br><br>
        <p>{{ "'enviarem un correu electrònic confirmant que ja tens accés." | t }}</p>
        </div>
    </div>
    {% endif %}

</section>
<!-- Login -->