<div class="sv-header-logged-block">
<section class="nospace">
    <div class="block topbar full right">
        <ul>
            <li>{{ "Et cal ajut?" | t }} {{ 'Truca al' | t }} <b>938 000 000</b></li>
            <li>{{ "Idioma" | t }}</li>
        </ul>
    </div>
</section>
<section style="padding:1.5em 0em;margin-bottom:8em;" class="header nospace">
    <div class="block full space-between mrow">
        <div class="logo">
            <a href="/inicio"><img src="{{ file_url('modules/segura_viudas_blocks/images/logo_SV.png') }}"></a>
        </div>
        <div>
            <a style="margin-right: 1em;" href="/documentacion">{{ "Documentació i cita de contracte" | t }}</a>
            <a href="/perfil">{{ "El meu perfil" | t }}</a>
        </div>
    </div>
</section>
</div>
