<!-- Footer -->
    <footer class="u-align-center u-clearfix u-footer u-white u-footer" id="sec-b888"><div class="u-clearfix u-sheet u-sheet-1">
    <section id="footer">
      <div class="block column full rgap-2">
          <div class="block full rmiddle ow space-between" style="margin-top:2em;">
              <div class="nocomputer" style="text-align:left;"><h1>{{ "Respecte per les arrels" | t }}</h1><p class="sign">{{ "Des del segle XII" | t }}</p></div>
              <div style="margin-top:2em;"><img height="130px" src="{{ file_url('modules/nateevo/segura_viudas_blocks/images/logo_SV.png') }}"></div>
              <div class="nomobile" style="text-align:right;"><h1>{{ "Respecte per les arrels" | t }}</h1><p class="sign">{{ "Des del segle XII" | t }}</p></div>
          </div>

        <!-- Computer -->
          <div class="block row middle nomobile space-between">
              <div class="block">
                  <a class="colorlink fa" href="{{ 'https://seguraviudas.com/cat/' | t }}" target=”_blank”>Web Segura Viudas</a>
              </div>

              <div class="block">
                  <ul class="nolist">
                      <li><a class="colorlink fa" href="https://www.instagram.com/seguraviudas/" target=”_blank”><em class="icon-instagram"></em> Instagram</a></li>
                      <li><a class="colorlink fa" href="https://www.facebook.com/seguraviudasES" target=”_blank”><em class="icon-facebook"></em> Facebook</a></li>
                      <li><a class="colorlink fa" href="https://twitter.com/seguraviudasES" target=”_blank”><em class="icon-twitter-share"></em> Twitter</a></li>
                      <li><a class="colorlink fa" href="https://www.youtube.com/user/seguraviudastv" target=”_blank”><em class="icon-youtube"></em> Youtube</a></li>
                  </ul>
              </div>

              <div class="block">
                  <img style="margin-left:auto;" height="50px" src="{{ file_url('modules/nateevo/segura_viudas_blocks/images/Logo-footer.svg') }}">
              </div>
          </div>
          <!-- Computer -->

          <!-- Mobile -->
          <div class="block nocomputer cloumn top space-between">
            <div class="block row">
                <div class="block half">
                  <a class="colorlink fa" href="{{ 'https://seguraviudas.com/cat/' | t }}" target=”_blank”>Web Segura Viudas</a>
              </div>

              <div class="block half right">
                  <ul class="nolist">
                      <li><a class="colorlink fa" href="https://www.instagram.com/seguraviudas/" target=”_blank”>Instagram</a></li>
                      <li><a class="colorlink fa" href="https://www.facebook.com/seguraviudasES" target=”_blank”>Facebook</a></li>
                      <li><a class="colorlink fa" href="https://twitter.com/seguraviudasES" target=”_blank”>Twitter</a></li>
                      <li><a class="colorlink fa" href="https://www.youtube.com/user/seguraviudastv" target=”_blank”>Youtube</a></li>
                  </ul>
              </div>
            </div>
              <div class="block full">
                  <img style="text-align:center; margin-top:2em;" height="50px" src="{{ file_url('modules/nateevo/segura_viudas_blocks/images/Logo-footer.svg') }}">
              </div>
          </div>
          <!-- Mobile -->

          <hr style="width:100%; color:#A99E8E;">
            
          <!-- Mobile -->  
          <div class="block footer-end full middle column space-between nocomputer center">
              <p style="text-align:center;">© {{ "2023 Segura Viudas. Tots els drets reservats." | t }}</p>

              <ul class="nolist" style="display:block; padding:0;">
                  <li style="text-align:center; margin-left:0;"><a href="{{ 'https://seguraviudas.com/cat/politica-galetes/' | t }}" target=”_blank”>{{ "Política de galetes" | t }}</a></li>
                  <li style="text-align:center; margin-left:0;"><a href="{{ 'https://seguraviudas.com/cat/politica-privacitat/' | t }}" target=”_blank”>{{ "Política de privacitat" | t }}</a></li>
                  <li style="text-align:center; margin-left:0;"><a href="{{ 'https://seguraviudas.com/cat/avis-legal/' | t }}" target=”_blank”>{{ "Avis Legal" | t }}</a></li>
                  <li style="text-align:center; margin-left:0;"><a href="{{ 'https://seguraviudas.com/cat/compliance/' | t }}" target=”_blank”>{{ "Compliance" | t }}</a></li>
              </ul>
          </div>
        </div>
        <!-- Mobile -->

         <!-- Mobile -->  
          <div class="block footer-end full middle row space-between nomobile">
              <p>© {{ "2023 Segura Viudas. Tots els drets reservats." | t }}</p>

              <ul class="nolist">
                  <li><a href="{{ 'https://seguraviudas.com/cat/politica-galetes/' | t }}" target=”_blank”>{{ "Política de galetes" | t }}</a></li>
                  <li><a href="{{ 'https://seguraviudas.com/cat/politica-privacitat/' | t }}" target=”_blank”>{{ "Política de privacitat" | t }}</a></li>
                  <li><a href="{{ 'https://seguraviudas.com/cat/avis-legal/' | t }}" target=”_blank”>{{ "Avis Legal" | t }}</a></li>
                  <li><a href="{{ 'https://seguraviudas.com/cat/compliance/' | t }}" target=”_blank”>{{ "Compliance" | t }}</a></li>
              </ul>
          </div>
        </div>
        <!-- Mobile -->

  </section>

</footer>


</div>{# /.layout-container #}
<!-- Footer -->
