<!-- BANNER -->
<main role="main">

<a id="main-content" tabindex="-1"></a>

<div class="banner-1-home">
    <section class="nospace" id="banner" style="background-image: url('{{ file_url('modules/nateevo/segura_viudas_blocks/images/Banner-1.png') }}'); background-size: cover; background-position:center center;">
  <div class="block full left">
    <div class="block">
        <a class="rotated-btn" href="#log-in">
          <!-- div rotado 90 grados -->
          <div style="transform: rotate(-90deg); margin-top: 1em; height:100%;" class="block center middle nomobile">
            <p><em class="icon-arrow"></em>{{ "REGISTRA-T'HI" | t }} </p>
          </div>
        </a>
      </div>

      <!-- Computer -->
      <div style="background-color: rgba(256,256,256, .8);" class="nomobile block two-thirds left column p-3">
          <p class="bp"><b>{{ 'WEB DE PROVEÏDORS' | t }}</b></p>
          <h1 style="margin-bottom:16px;">{{ 'WEB DE PROVEÏDORS' | t }}</h1>
          <p>{{ "El nostre objectiu és facilitar la gestió i contractacions a cadascun dels nostres 800 proveïdors de raïm i millorar les nostres relacions comercials a través d'aquesta experiència digital." | t }}</p>
      </div>
      <!-- Computer -->

      <!-- Mobile -->
      <div style="background-color: rgba(256,256,256, .8); margin-left:0;" class="nocomputer block left column p-3">
          <p class="bp"><b>{{ 'WEB DE PROVEÏDORS' | t }}</b></p>
          <h1 style="margin-bottom:16px;">{{ 'WEB DE PROVEÏDORS' | t }}</h1>
          <p>{{ "El nostre objectiu és facilitar la gestió i contractacions a cadascun dels nostres 800 proveïdors de raïm i millorar les nostres relacions comercials a través d'aquesta experiència digital." | t }}</p>
      </div>
      <!-- Mobile -->
  </div>
</section>
<!-- BANNER -->